<link rel="stylesheet" href="/css/style.css">

<article>
    <div class="parent row ref">
        <div class="child image">
            <figure>
                <h2>The Value of Money</h2>
                <div class="figure-container">
                    <img src="../img/money.jpg" alt="" class="figure-img">
                    <figcaption>Does money buy happiness?</figcaption>
                </div>
            </figure>
        </div>

        <p class="child content">
            Money has not and cannot meet our deepest psychological needs.Clearly some form of restraint is necessary. But even with better money management, our biggest money problem will remain. That’s because almost all wealth-creating strategies leave out the
            most important point of all: We must use money in a way that satisfies not just the senses but the soul.
        </p>
    </div>

</article>


<div class="parent row ref">
    <div class="child image">
        <figure>
            <h2>GMO food</h2>
            <div class="figure-container">
                <img src="../img/tomato.jpg" alt="" class="figure-img">
                <figcaption>"Scientists Have Genetically Engineered The 'Perfect' Tomato."</figcaption>
            </div>
        </figure>
    </div>

    <p class="child content">
        Genetic engineering of crops didn’t start with Monsanto. Actually, we’ve been adjusting plant genes since we domesticated crops thousands of years ago. A GMO, or genetically modified organism, or GMO, is any animal, organism or plant that has been manipulated
        through genetic engineering—even selective breeding, which is a form of genetic modification that doesn’t involve the addition of outside genetic material.
    </p>
</div>


<div class="parent row ref">
    <div class="child image">
        <figure>
            <h2>The View of World in 2100</h2>
            <div class="figure-container">
                <img src="../img/spiral.jpg" alt="" class="figure-img">
                <figcaption>World population in 2100 could be 2 billion below UN forecasts, study suggests</figcaption>
            </div>
        </figure>
    </div>

    <p class="child content">
        Global population growth may peak sooner than expected if the lot of women continues to improve, according to a study that says the world’s population could be 2 billion below UN forecasts by the end of the century. The number of older people will overtake
        the young, with 2.4 billion people over the age of 65 forecast by 2100, compared with 1.7 billion under the age of 20.
    </p>
</div>