<link rel="stylesheet" href="/css/lightbox.min.css">

<link rel="stylesheet" href="/css/style.css">



<section class="portfolio">

    <h2>Portfolio</h2>
    <div class="card">
        <a href="#" data-lightbox="portfolio" data-title="">
            <img src="../img/commerce.jpg" alt="store" class="img-wrap"></a>
        <div class="card-container">
            <h3>MYSTIC — online store website</h3>
            <p>
                The design concept of a wetsuits online store. ‘MYSTIC’ is a Dutch brand which originated from wanting to bring high-quality wetsuits to the market by combining durability, quality, innovation, and technology.</p>
        </div>

    </div>

    <div class="card">
        <a href="#" data-lightbox="portfolio" data-title="" class="center">
            <img src="../img/corporate.jpg" alt="corporate" class="img-wrap"></a>
        <div class="card-container">
            <h3>LUMOS — solar energy website</h3>
            <p>
                The redesign concept of corporate website. ‘Lumos’ delivers energy-saving solar solutions that enhance the built environments. The design process consisted with: drawing sketches, visual analysis, creating functional prototypes and adaptive versions.</p>
        </div>

    </div>

    <div class="card">
        <a href="#" data-lightbox="portfolio" data-title="">
            <img src="../img/media-agency.jpg" alt="agency" class="img-wrap"></a>
        <div class="card-container">
            <h3>The Tree media agency website</h3>
            <p>The redesign concept of an agency website named ‘the tree’ that specializes in digital content that are focused on marketing, the latest content services, and global digital advertising.</p>
        </div>

    </div>

    <div class="card">
        <a href="#" data-lightbox="portfolio" data-title="">
            <img src="../img/media.jpg" alt="agency" class="img-wrap"></a>
        <div class="card-container">
            <h3>Alaska's news website</h3>
            <p>The redesign concept of informative Alaska’s news website. The news portal covering national, regional and international news. </p>
        </div>

    </div>

    <div class="card">
        <a href="#" data-lightbox="portfolio" data-title="">
            <img src="../img/travel-agency.jpg" alt="agency" class="img-wrap"></a>
        <div class="card-container">
            <h3>Travel agency website</h3>
            <p>The redesign concept of the Travel agency website that specialized in freelance specialists. For inspiration and visual research I used references the original website that doesn't require a redesign.</p>
        </div>

    </div>

    <div class="card">
        <a href="#" data-lightbox="portfolio" data-title="">
            <img src="../img/explainer.png" alt="explainer" class="img-wrap"></a>
        <div class="card-container">
            <h3>Explainer video</h3>
            <p>For this study project I created a micro story video and after animated to demostrate different cinematography shots.</p>
        </div>

    </div>

</section>